[submodule "WeKit"]
	path = WeKit
	url = https://github.com/xiangdao234/WeKit.git
[submodule "WAuxiliary_Plugin"]
	path = WAuxiliary_Plugin
	url = https://github.com/xiangdao234/WAuxiliary_Plugin.git
